.voltaFoto{
    background-color: #A67C49;
    border-radius: 30px;
    margin: 1rem;
}
.div{
    display: flex;
    background-color: #BF984E66 ;
    width: 96%;
    border-radius: 30px;
    margin: 1.5rem auto;
    text-align: right;
}
img {
    width: 25rem;
    border-radius: 55px;
}
.descricoes{
    font-size: 1.5rem;
    padding: 1rem;
}
.descricoes h4{
    font-family: "Titulo";
}