.soc{
    font-size: 1.5rem;
    text-decoration: underline dotted;
}
.soci{
    font-size: 1.5rem;
    text-decoration: underline;
}
.espaco{
    margin-top: 2rem;
}
.baixo{
    padding-bottom: 2rem;
}